

[mysqld]
sort_buffer_size = 500M
read_buffer_size = 200M
read_rnd_buffer_size = 800M
myisam_sort_buffer_size = 512435456
query_cache_size = 1G
datadir = "/private/var/mysql"
key_buffer_size = 8G
bulk_insert_buffer_size = 1G
join_buffer_size = 8G
delay-key-write = ON
query_cache_limit = 512M
collation-server = utf8_unicode_ci
character-set-server = utf8

# Remove these
# skip-locking
# log-bin=mysql-bin

